@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@300&family=Roboto+Slab:wght@300;400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Slab', serif;
}
