<div>Hi {{email}},</div>
<div>We are completed process forgot password for you.</div>

<div>New password: <strong>{{password}}</strong></div>

<div>
  Note: do not share the new password with anoyne.
</div>

<p>
  Mern Stack Team.
</p>
<p>
  Thanks.
</p>