<div>We received a request to forget password from account {{email}}.To verify that the requester is you, please
  confirm the OTP.</div>

<div>OTP: <strong>{{code}}</strong></div>

<div>
  Note: do not share the OTP code with anoyne else and the OTP code is alivd for 3 minutes.
</div>

<p>
  Mern Stack Team.
</p>
<p>
  Thanks.
</p>