.suggestList {
  position: absolute;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  max-height: 356px;
}

.suggestList::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}
